<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div><%=model%>님 반갑습니다.</div>
        <div><a href="/ch05/userLogout">로그아웃</a></div>
    </body>
</html>