<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ejs sample</title>
</head>
<body>
    <h1>ejs sample</h1>
    <div>
        name : 
        <%=model.name%>
    </div>
</body>
</html>